---
export interface Props {
  label?: string;
}

const { label } = Astro.props;
---

<div class="container">
  <div class="absolute inset-0 flex items-center">
    <div class="w-full border-t border-gray-300"></div>
  </div>
  <div>{label}</div>
</div>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    font-size: 0.75rem;
    color: var(--color-gray-500);
  }
</style>
